@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal; }

body {
  background-color: #f9fafe;
  color: #1a2424; }

a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6.25em;
  outline: none;
  line-height: 1.063rem; }

a {
  font-size: 0.875rem; }

h1 {
  font-size: 2.75rem; }
  @media only screen and (max-width: 450px) {
    h1 {
      font-size: 1.875rem; } }

h2 {
  font-size: 2.25rem; }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 1.5rem; } }

h3 {
  font-size: 1.5rem; }
  @media only screen and (max-width: 768px) {
    h3 {
      font-size: 1.125rem; } }

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem; }

h5 {
  font-size: 1.125rem; }

h6,
p,
b,
figcaption,
label {
  font-size: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6,
a,
b,
label,
figcaption {
  font-family: "Rubik", sans-serif;
  font-weight: 500; }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@media only screen and (max-width: 768px) {
  h2,
  h3,
  p {
    text-align: center; } }

img {
  /*by writing this code user will not able to save images or cannot open image in new tab*/
  pointer-events: none; }

ul {
  list-style: none; }

li {
  display: inline; }

input,
textarea {
  border: 0.063rem solid #1a2424;
  border-radius: 0.3rem; }

label {
  line-height: 1.185rem; }

.input-field {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0 1.25rem;
  height: 3.125rem; }

.textarea {
  height: 6.25rem; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* for all green button */
.green-btn {
  color: #ffffff;
  outline: none;
  border: none;
  display: inline;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: 6.25em;
  line-height: 1.063rem;
  background-color: #025652;
  font-family: "Rubik", sans-serif; }

.profile-post {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.nav,
.service-section,
.contact-section,
.map-section-left-side {
  background-color: #ffffff; }

.nav {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 2rem; }
  @media only screen and (max-width: 768px) {
    .nav {
      justify-content: space-between;
      position: fixed;
      width: 100%;
      padding: 1rem; } }
  @media only screen and (max-width: 768px) {
    .nav .weblogo .full-logo {
      display: none; } }
  .nav .weblogo .short-logo {
    display: none; }
    @media only screen and (max-width: 768px) {
      .nav .weblogo .short-logo {
        display: flex; } }
  .nav .header-list {
    list-style: none; }
    @media only screen and (max-width: 768px) {
      .nav .header-list {
        display: none; } }
    .nav .header-list li a {
      margin: 1rem;
      color: #1a2424;
      line-height: 1.063rem; }
  .nav .burger-menu {
    display: none; }
    @media only screen and (max-width: 768px) {
      .nav .burger-menu {
        display: flex; } }

.container {
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0.43rem 4rem rgba(0, 0, 0, 0.07); }
  .container .web-description-block {
    padding: 3rem 4rem 0 0; }
    @media only screen and (max-width: 1024px) {
      .container .web-description-block {
        padding: 2rem;
        width: 50%; } }
    @media only screen and (max-width: 768px) {
      .container .web-description-block {
        width: 100%;
        padding: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: border-box;
        background: linear-gradient(rgba(0, 0, 0, 0.2), black), url("/assets/images/beagleimage.png"); } }
    .container .web-description-block .container-head {
      line-height: 3.25rem;
      margin-bottom: 0.938rem; }
      @media only screen and (max-width: 768px) {
        .container .web-description-block .container-head {
          margin-top: 8rem;
          text-align: center;
          color: #ffffff; } }
    .container .web-description-block .container-para {
      font-size: 1.2rem;
      line-height: 1.87rem;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 768px) {
        .container .web-description-block .container-para {
          text-align: center;
          padding: 0 1rem;
          color: #ffffff; } }
    .container .web-description-block .services-svg-badge-section {
      display: flex;
      width: 85%;
      align-items: flex-start;
      justify-content: space-between; }
      @media only screen and (max-width: 768px) {
        .container .web-description-block .services-svg-badge-section {
          margin: auto;
          color: #ffffff; } }
      .container .web-description-block .services-svg-badge-section .row-image-section {
        text-align: center; }
        @media only screen and (max-width: 450px) {
          .container .web-description-block .services-svg-badge-section .row-image-section figure img {
            max-width: 4rem;
            height: 4rem; } }
        .container .web-description-block .services-svg-badge-section .row-image-section figure figcaption {
          font-size: 0.8rem;
          font-family: "Roboto", sans-serif;
          font-weight: 400; }
    .container .web-description-block .submit-section {
      margin: 2rem 0;
      display: flex; }
      @media only screen and (max-width: 768px) {
        .container .web-description-block .submit-section {
          justify-content: center; } }
      .container .web-description-block .submit-section .btn-service {
        text-align: center;
        color: #025652;
        border: 0.125rem solid #025652; }
        @media only screen and (max-width: 768px) {
          .container .web-description-block .submit-section .btn-service {
            color: #ffffff; } }
      .container .web-description-block .submit-section .btn-apply {
        margin-right: 2rem; }
      .container .web-description-block .submit-section .btn-top:hover {
        cursor: pointer; }
  .container .top-dog-image-section {
    width: 50%;
    overflow: hidden; }
    @media only screen and (max-width: 768px) {
      .container .top-dog-image-section {
        display: none; } }

/* container part 2*/
.about-section {
  display: flex;
  justify-content: center;
  padding: 4.375rem 0; }
  @media only screen and (max-width: 768px) {
    .about-section {
      flex-direction: column-reverse;
      padding: 1.875rem; } }
  .about-section .image-roller,
  .about-section .image-content {
    width: 30%; }
    @media only screen and (max-width: 1024px) {
      .about-section .image-roller,
      .about-section .image-content {
        width: 40%; } }
    @media only screen and (max-width: 768px) {
      .about-section .image-roller,
      .about-section .image-content {
        width: 100%; } }
  .about-section .image-roller {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .about-section .image-roller .image-back-to-back {
      width: 100%;
      display: flex;
      margin: auto;
      position: relative; }
      @media only screen and (max-width: 768px) {
        .about-section .image-roller .image-back-to-back {
          margin: 1rem 0; } }
      .about-section .image-roller .image-back-to-back .front-img {
        width: 70%;
        height: 100%;
        border-radius: 0.75rem;
        z-index: 1; }
        @media only screen and (max-width: 768px) {
          .about-section .image-roller .image-back-to-back .front-img {
            margin: 1rem;
            position: relative;
            left: 10%; } }
        @media only screen and (max-width: 450px) {
          .about-section .image-roller .image-back-to-back .front-img {
            left: 0;
            width: 100%;
            margin: 1rem 0;
            overflow: hidden;
            border-radius: 0.5rem; } }
      .about-section .image-roller .image-back-to-back .back-img {
        width: 70%;
        height: 70%;
        z-index: 0;
        margin: auto;
        position: relative;
        left: -30%; }
        @media only screen and (min-width: 450px) and (max-width: 768px) {
          .about-section .image-roller .image-back-to-back .back-img {
            left: -20%; } }
        @media only screen and (max-width: 450px) {
          .about-section .image-roller .image-back-to-back .back-img {
            display: none; } }
    .about-section .image-roller .image-fliper {
      display: flex; }
      @media only screen and (max-width: 768px) {
        .about-section .image-roller .image-fliper {
          margin: auto; } }

.image-content .about-section-head-2 {
  line-height: 2.6rem; }
.image-content .about-section-head-3 {
  margin: 0.625rem 0 1.25rem;
  line-height: 1.75rem; }
  @media only screen and (max-width: 768px) {
    .image-content .about-section-head-3 {
      margin: 1rem 0; } }
.image-content .para {
  line-height: 1.3rem; }
  @media only screen and (max-width: 768px) {
    .image-content .para {
      margin: 0; } }
.image-content .user-banner {
  display: flex;
  align-items: center;
  margin: 1.875rem 0; }
  @media only screen and (max-width: 768px) {
    .image-content .user-banner {
      margin-left: 3rem; } }
  @media only screen and (max-width: 768px) {
    .image-content .user-banner {
      margin-left: 0; } }
  .image-content .user-banner img {
    border-radius: 50%; }
  .image-content .user-banner .user-info {
    margin-left: 1rem; }
@media only screen and (max-width: 768px) {
  .image-content .read-more-block {
    text-align: center; } }

/* service-section  */
.service-section {
  padding: 2rem 0; }
  .service-section .service-head {
    margin: auto;
    text-align: center; }
    .service-section .service-head .service-head-text {
      line-height: 2.6rem;
      letter-spacing: 0.063rem; }
    .service-section .service-head .service-para-text {
      max-width: 45.625rem;
      margin: 1.25rem auto 0;
      font-size: 1.2rem;
      line-height: 1.5rem; }
      @media only screen and (max-width: 768px) {
        .service-section .service-head .service-para-text {
          max-width: 100%;
          margin: 0 1rem; } }
  .service-section .service-nav {
    width: 36rem;
    margin: 1.875rem auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.43rem 4rem rgba(0, 0, 0, 0.07);
    border-radius: 0.625rem; }
    @media only screen and (max-width: 768px) {
      .service-section .service-nav {
        max-width: 90%; } }
    .service-section .service-nav .span-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;
      padding: 1rem 1.75rem;
      border-radius: 0.625rem; }
      .service-section .service-nav .span-box .span-box-heading {
        font-size: 1rem;
        line-height: 1.18rem; }
    .service-section .service-nav .span-box:hover {
      cursor: pointer; }
    .service-section .service-nav .span-1 {
      background-color: #fdc282; }
  .service-section .pet-card-section::-webkit-scrollbar {
    display: none; }
  .service-section .pet-card-section {
    width: 36rem;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 450px) {
      .service-section .pet-card-section {
        width: 90%;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; } }
    .service-section .pet-card-section .pet-card {
      width: 10rem;
      border-radius: 0.6rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.07); }
      @media only screen and (max-width: 450px) {
        .service-section .pet-card-section .pet-card {
          margin: 0 0.5rem 0; } }
      .service-section .pet-card-section .pet-card figure img {
        border-radius: 0.6rem; }
      .service-section .pet-card-section .pet-card figure figcaption {
        line-height: 1.25rem;
        margin: 0.5rem;
        text-align: center; }
      .service-section .pet-card-section .pet-card .time-left-alert,
      .service-section .pet-card-section .pet-card .price-tag {
        display: flex;
        margin: 0.5rem 0; }
      .service-section .pet-card-section .pet-card .time-left-alert img,
      .service-section .pet-card-section .pet-card .price-tag img {
        margin-right: 0.3rem; }
      .service-section .pet-card-section .pet-card .time-left-alert h3,
      .service-section .pet-card-section .pet-card .price-tag h3 {
        color: #656867;
        font-size: 1rem; }
        .service-section .pet-card-section .pet-card .time-left-alert h3 b,
        .service-section .pet-card-section .pet-card .price-tag h3 b {
          color: #1a2424; }
      .service-section .pet-card-section .pet-card a {
        width: 80%;
        border: 0.125rem solid #025652;
        background-color: #ffffff;
        color: #025652;
        text-align: center;
        margin: 0.5rem 0; }
      .service-section .pet-card-section .pet-card a:hover {
        background-color: #025652;
        color: #ffffff;
        cursor: pointer; }
  .service-section .service-foot {
    border-radius: 1.5rem;
    text-align: center;
    margin: 2.5rem auto 0.5rem; }
    @media only screen and (max-width: 768px) {
      .service-section .service-foot {
        display: none; } }

/* package card -head start here*/
.package-card-head .package-head-text {
  margin-top: 4.5rem;
  line-height: 2.6rem;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .package-card-head .package-head-text {
      margin: 1.875rem 0 0.938rem; } }
.package-card-head .package-para-text {
  font-size: 1.2rem;
  max-width: 45.625rem;
  margin: 1.25rem auto 2.5rem;
  line-height: 1.68rem;
  text-align: center; }
  @media only screen and (max-width: 450px) {
    .package-card-head .package-para-text {
      margin: 0 1rem 1rem;
      max-width: 100%; } }

/* package card -head end here*/
/* package card section start */
.package-card-section {
  display: flex;
  align-items: center;
  justify-content: center; }
  .package-card-section .hr-scroll {
    display: flex; }
    @media only screen and (max-width: 450px) {
      .package-card-section .hr-scroll {
        display: none; } }
  .package-card-section .package-1,
  .package-card-section .package-3 {
    max-width: 17.8rem;
    background-color: #ffffff;
    box-shadow: 0 0.4rem 4rem rgba(0, 0, 0, 0.07);
    border-radius: 0.6rem; }
    @media only screen and (max-width: 768px) {
      .package-card-section .package-1,
      .package-card-section .package-3 {
        display: none; } }
  .package-card-section .package .package-head .package-h3-text {
    padding-top: 1rem;
    line-height: 1.75rem;
    text-align: center; }
  .package-card-section .package .package-head .pet-content-card {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .package-card-section .package .package-head .pet-content-card .weekly-pkg {
      line-height: 1.5rem;
      text-align: center; }
    .package-card-section .package .package-head .pet-content-card img {
      margin-right: 0.2rem; }
  .package-card-section .package .package-1-body,
  .package-card-section .package .package-3-body {
    background: #f9fafe;
    height: 15rem; }
  .package-card-section .package .package-body {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; }
    .package-card-section .package .package-body .service-text {
      line-height: 1.5rem;
      text-align: center;
      padding: 1rem 0 0.5rem; }
    .package-card-section .package .package-body .service-list {
      list-style: none; }
      .package-card-section .package .package-body .service-list li {
        display: block;
        margin: 0.5rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.25rem; }
      .package-card-section .package .package-body .service-list li::before {
        content: "• ";
        color: #fdc282; }
  .package-card-section .package .package-foot {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .package-card-section .package .package-foot .price-tag {
      font-size: 1.5rem;
      line-height: 1.5rem; }
      .package-card-section .package .package-foot .price-tag b {
        line-height: 150.69%;
        padding: 0.5rem; }
    .package-card-section .package .package-foot a {
      margin: 1rem 0;
      max-width: 80%; }
  .package-card-section .package-2 {
    max-width: 17.8rem;
    background-color: #ffe4e1;
    border-radius: 0.6rem;
    padding: 0.1rem;
    margin: 0 1rem; }
    .package-card-section .package-2 .package-skin .top-text {
      height: 2.5rem;
      font-size: 0.87rem;
      line-height: 1.063rem;
      letter-spacing: 0.063rem;
      text-align: center;
      padding-top: 1rem; }
    .package-card-section .package-2 .package-skin .package-2-head {
      height: 8.6rem;
      background-color: #ffffff; }
    .package-card-section .package-2 .package-skin .package-2-body {
      height: 15rem;
      background: #f9fafe; }
    .package-card-section .package-2 .package-skin .package-2-foot {
      height: 10.6rem;
      border-radius: 0 0 0.6rem 0.6rem;
      background-color: #ffffff; }

/* map section start here */
.map-section-div {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.75rem 1rem; }
  @media only screen and (max-width: 768px) {
    .map-section-div {
      flex-direction: column;
      padding: 2rem; } }
  .map-section-div .map-section-left-side {
    max-width: 30%;
    padding: 1.875rem;
    border-radius: 0.625rem 0 0 0.625rem;
    box-shadow: 0 0.43rem 4rem rgba(0, 0, 0, 0.07); }
    @media only screen and (max-width: 768px) {
      .map-section-div .map-section-left-side {
        text-align: center;
        border-radius: 0.6rem 0.6rem 0 0;
        max-width: 100%; } }
    .map-section-div .map-section-left-side .map-heading {
      line-height: 2.6rem;
      margin-bottom: 1rem; }
    .map-section-div .map-section-left-side .map-para {
      line-height: 1.5rem;
      margin-bottom: 1rem; }
    .map-section-div .map-section-left-side .map-gallery {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%; }
      .map-section-div .map-section-left-side .map-gallery .left-img,
      .map-section-div .map-section-left-side .map-gallery .right-img {
        max-width: 45%; }
  .map-section-div .map-section-right-side {
    max-width: 30%; }
    @media only screen and (max-width: 768px) {
      .map-section-div .map-section-right-side {
        max-width: 100%; } }
    .map-section-div .map-section-right-side iframe {
      max-width: 100%;
      border-radius: 0.625rem; }

/* map section end here */
/*  brand colab section   start here */
.brand-colab-section {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.43rem 4rem rgba(0, 0, 0, 0.07); }
  @media only screen and (max-width: 1024px) {
    .brand-colab-section {
      flex-direction: column; } }
  .brand-colab-section .brand-partners-head img {
    margin: 1rem; }
  .brand-colab-section .brand-partners-body {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media only screen and (max-width: 768px) {
      .brand-colab-section .brand-partners-body {
        max-width: 100%; } }
    .brand-colab-section .brand-partners-body .scrollar-section .slide-btn {
      display: none; }
      @media only screen and (max-width: 1024px) {
        .brand-colab-section .brand-partners-body .scrollar-section .slide-btn {
          display: flex; } }
    .brand-colab-section .brand-partners-body .brand-partners-logo::-webkit-scrollbar {
      display: none; }
    .brand-colab-section .brand-partners-body .brand-partners-logo {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media only screen and (max-width: 1024px) {
        .brand-colab-section .brand-partners-body .brand-partners-logo {
          overflow-x: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;
          max-width: 40rem; } }
      @media only screen and (max-width: 450px) {
        .brand-colab-section .brand-partners-body .brand-partners-logo {
          max-width: 12rem; } }
      .brand-colab-section .brand-partners-body .brand-partners-logo img {
        margin: 0 1rem; }

/*  brand colab section end here */
/* slide head section */
@media only screen and (max-width: 768px) {
  .slide-head-section {
    display: none; } }
.slide-head-section .slide-heading {
  line-height: 2.6rem;
  text-align: center;
  margin: 4.375rem 0 0; }

/* slide section start here */
.slide-section {
  padding: 1rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .slide-section .scrollar-section .slide-btn:hover {
    cursor: pointer; }
  .slide-section .sub-slide-section {
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  .slide-section .slide-text-info {
    max-width: 15.6rem;
    margin: 1.5rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .slide-section .slide-text-info {
        max-width: auto; } }
    .slide-section .slide-text-info .sub-slide-heading {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      line-height: 1.3rem;
      text-align: center; }
    .slide-section .slide-text-info .sub-slide-para {
      line-height: 1.4rem;
      text-align: center; }
  @media only screen and (max-width: 768px) {
    .slide-section .slide-text-info-2 {
      margin: 0; } }
  @media only screen and (max-width: 768px) {
    .slide-section .slide-text-info-2,
    .slide-section .slide-text-info-3 {
      display: none; } }

/* slide section end here */
/*   contact section start here */
.contact-section {
  padding: 2rem 0;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 768px) {
    .contact-section {
      flex-direction: column; } }
  .contact-section .contact-form-left-section,
  .contact-section .contact-form-right-section {
    width: 35%; }
  @media only screen and (max-width: 768px) {
    .contact-section .contact-form-left-section {
      text-align: center;
      width: auto; } }
  .contact-section .contact-form-left-section .main-text-head {
    line-height: 1.75rem; }
  .contact-section .contact-form-left-section .second-text-head {
    line-height: 2.6rem;
    margin: 1rem 0; }
  .contact-section .contact-form-left-section .contact-para {
    line-height: 1.5rem;
    margin: 1rem 0;
    padding-right: 3rem;
    word-wrap: break-word; }
    @media only screen and (max-width: 768px) {
      .contact-section .contact-form-left-section .contact-para {
        margin: 0 5rem;
        padding: 0; } }
    @media only screen and (max-width: 450px) {
      .contact-section .contact-form-left-section .contact-para {
        margin: 0 2rem; } }
  .contact-section .contact-form-left-section .contact-person {
    display: flex; }
    @media only screen and (max-width: 768px) {
      .contact-section .contact-form-left-section .contact-person {
        margin: 1rem 2.5rem; } }
    .contact-section .contact-form-left-section .contact-person img {
      margin-right: 0.5rem; }
    .contact-section .contact-form-left-section .contact-person .user-data .profile-post,
    .contact-section .contact-form-left-section .contact-person .user-data .profile-name {
      line-height: 1.5rem;
      text-align: left; }
    .contact-section .contact-form-left-section .contact-person .user-data .profile-post {
      font-family: "Roboto", sans-serif;
      font-weight: 400; }
  @media only screen and (max-width: 768px) {
    .contact-section .contact-form-right-section {
      width: auto;
      padding: 1rem 1.5rem; } }
  .contact-section .contact-form-right-section form .form-second-div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 450px) {
      .contact-section .contact-form-right-section form .form-second-div {
        flex-direction: column; } }
    .contact-section .contact-form-right-section form .form-second-div .form-second-div-mail,
    .contact-section .contact-form-right-section form .form-second-div .form-second-div-num {
      width: 45%; }
      @media only screen and (max-width: 450px) {
        .contact-section .contact-form-right-section form .form-second-div .form-second-div-mail,
        .contact-section .contact-form-right-section form .form-second-div .form-second-div-num {
          width: 100%; } }
  @media only screen and (max-width: 768px) {
    .contact-section .contact-form-right-section form .text-area-box .send-btn {
      display: flex;
      justify-content: center; } }
  .contact-section .contact-form-right-section form .text-area-box .send-btn .submit-btn {
    width: 9.375rem;
    text-align: center; }

/*   contact section end here */
.footer-section {
  padding: 1rem 0;
  background-color: #1a2424; }
  .footer-section .footer-head {
    max-width: 70%;
    margin: auto;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .footer-section .footer-head {
        max-width: 95%; } }
    @media only screen and (max-width: 450px) {
      .footer-section .footer-head {
        align-items: flex-start;
        padding: 0 1rem;
        max-width: 100%; } }
    .footer-section .footer-head .site-logo {
      display: flex; }
      @media only screen and (max-width: 450px) {
        .footer-section .footer-head .site-logo {
          display: block; } }
    .footer-section .footer-head .footer-sub-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      @media only screen and (max-width: 450px) {
        .footer-section .footer-head .footer-sub-head {
          display: block;
          flex-direction: column; } }
      @media only screen and (max-width: 450px) {
        .footer-section .footer-head .footer-sub-head .footer-links {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 0;
          grid-row-gap: 0;
          margin-bottom: 0.25rem; } }
      .footer-section .footer-head .footer-sub-head .footer-links .page-link {
        color: #ffffff;
        padding: 0;
        margin-left: 0.5rem; }
      .footer-section .footer-head .footer-sub-head .footer-links .page-link:hover {
        color: #fdc282; }
    .footer-section .footer-head .social-connect {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 450px) {
        .footer-section .footer-head .social-connect {
          width: 100%; } }
      .footer-section .footer-head .social-connect a {
        padding: 0;
        margin: 0.25rem; }
  .footer-section .footer-para {
    max-width: 70%;
    text-align: right;
    margin: 0.5rem auto 0;
    padding-top: 0.5rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
    opacity: 0.7;
    color: #ffffff;
    border-top: 0.063rem solid #ffffff; }
    @media only screen and (max-width: 768px) {
      .footer-section .footer-para {
        margin: 0.5rem 2.5% 0 auto;
        max-width: 90%; } }
    @media only screen and (max-width: 450px) {
      .footer-section .footer-para {
        text-align: left;
        max-width: 80%; } }

/*# sourceMappingURL=main.css.map */
