/* container part 2*/
.about-section {
    display: flex;
    justify-content: center;
    padding: 4.375rem 0;

    @media only screen and (max-width: $breakpoint-tablet) {
        flex-direction: column-reverse;
        padding: 1.875rem;
    }

    .image-roller,
    .image-content{
        width: 30%;

        @media only screen and (max-width: $breakpoint-laptop) {
            width: 40%;
        }

        @media only screen and (max-width: $breakpoint-tablet) {
            width: 100%;
        }
    }

    .image-roller {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .image-back-to-back {
            width: $max-width;
            display: flex;
            margin: auto;
            position: relative;

            @media only screen and (max-width: $breakpoint-tablet) {
                margin: 1rem 0;
            }

            .front-img {
                width: 70%;
                height: 100%;
                border-radius: 0.75rem;
                z-index: 1;

                @media only screen and (max-width: $breakpoint-tablet) {
                    margin: 1rem;
                    position: relative;
                    left: 10%;
                }

                @media only screen and (max-width: $breakpoint-mobile) {
                    left: 0;
                    width: $max-width;
                    margin: 1rem 0;
                    overflow: hidden;
                    border-radius: 0.5rem;
                }
            }

            .back-img {
                width: 70%;
                height: 70%;
                z-index: 0;
                margin: auto;
                position: relative;
                left: -30%;

                @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
                    left: -20%;
                }

                @media only screen and (max-width: $breakpoint-mobile) {
                    display: none;
                }
            }
        }

        .image-fliper {
            display: flex;

            @media only screen and (max-width: $breakpoint-tablet) {
                margin: auto;
            }
        }
    }
}

.image-content {

    .about-section-head-2 {
        line-height: 2.6rem;
    }

    .about-section-head-3 {
        margin: 0.625rem 0 1.25rem;
        line-height: 1.75rem;

        @media only screen and (max-width: $breakpoint-tablet) {
            margin: 1rem 0;
        }
    }

    .para {
        line-height: 1.3rem;

        @media only screen and (max-width: $breakpoint-tablet) {
            margin: 0;
        }
    }

    .user-banner {
        display: flex;
        align-items: center;
        margin: 1.875rem 0;

        @media only screen and (max-width: $breakpoint-tablet) {
            margin-left: 3rem;
        }

        @media only screen and (max-width: $breakpoint-tablet) {
            margin-left: 0;
        }

        img {
            border-radius: 50%;
        }

        .user-info {
            margin-left: 1rem;
        }
    }

    .read-more-block {

        @media only screen and (max-width: $breakpoint-tablet) {
            text-align: center;
        }
    }
}