/*  brand colab section   start here */
.brand-colab-section {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.43rem 4rem rgba(0, 0, 0, 0.07);

    @media only screen and (max-width:$breakpoint-laptop) {
        flex-direction: column;
    }

    .brand-partners-head {

        img {
            margin: 1rem;
        }
    }

    .brand-partners-body {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media only screen and (max-width:$breakpoint-tablet) {
            max-width: 100%;
        }

        .scrollar-section {

            .slide-btn {
                display: none;

                @media only screen and (max-width:$breakpoint-laptop) {
                    display: flex;
                }
            }
        }

        .brand-partners-logo::-webkit-scrollbar {
            display: none;
        }

        .brand-partners-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width:$breakpoint-laptop) {
                overflow-x: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
                max-width: 40rem;
            }

            @media only screen and (max-width:$breakpoint-mobile) {
                max-width: 12rem;
            }

            img {
                margin: 0 1rem;
            }
        }
    }
}

/*  brand colab section end here */