/*   contact section start here */
.contact-section {
    padding: 2rem 0;
    display: flex;
    justify-content: center;

    @media only screen and (max-width:$breakpoint-tablet) {
        flex-direction: column;
    }

    .contact-form-left-section,
    .contact-form-right-section {
        width: 35%;
    }

    .contact-form-left-section {

        @media only screen and (max-width:$breakpoint-tablet) {
            text-align: center;
            width: auto;
        }

        .main-text-head {
            line-height: 1.75rem;
        }

        .second-text-head {
            line-height: 2.6rem;
            margin: 1rem 0;
        }

        .contact-para {
            line-height: 1.5rem;
            margin: 1rem 0;
            padding-right: 3rem;
            word-wrap: break-word;

            @media only screen and (max-width:$breakpoint-tablet) {
                margin: 0 5rem;
                padding: 0;
            }

            @media only screen and (max-width:$breakpoint-mobile) {
                margin: 0 2rem;
            }
        }

        .contact-person {
            display: flex;

            @media only screen and (max-width:$breakpoint-tablet) {
                margin: 1rem 2.5rem;
            }

            img {
                margin-right: 0.5rem;
            }

            .user-data {

                .profile-post,
                .profile-name {
                    line-height: 1.5rem;
                    text-align: left;
                }

                .profile-post {
                    font-family: $roboto-font-family;
                    font-weight: $roboto-font-weight;
                }
            }
        }
    }

    .contact-form-right-section {

        @media only screen and (max-width:$breakpoint-tablet) {
            width: auto;
            padding: 1rem 1.5rem;
        }

        form {

            .form-second-div {
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;

                @media only screen and (max-width:$breakpoint-mobile) {
                    flex-direction: column;
                }

                .form-second-div-mail,
                .form-second-div-num {
                    width: 45%;

                    @media only screen and (max-width:$breakpoint-mobile) {
                        width: $max-width;
                    }
                }
            }

            .text-area-box {

                .send-btn {

                    @media only screen and (max-width:$breakpoint-tablet) {
                        display: flex;
                        justify-content: center;
                    }

                    .submit-btn {
                        width: 9.375rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

/*   contact section end here */