.container {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0.43rem 4rem rgba(0, 0, 0, 0.07);

    .web-description-block {
        padding: 3rem 4rem 0 0;

        @media only screen and (max-width:$breakpoint-laptop) {
            padding: 2rem;
            width: 50%;
        }

        @media only screen and (max-width:$breakpoint-tablet) {
            width: 100%;
            padding: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-origin: border-box;
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('/assets/images/beagleimage.png');
        }

        .container-head {
            line-height: 3.25rem;
            margin-bottom: 0.938rem;

            @media only screen and (max-width:$breakpoint-tablet) {
                margin-top: 8rem;
                text-align: center;
                color: $white;
            }
        }

        .container-para {
            font-size: 1.2rem;
            line-height: 1.87rem;
            margin-bottom: 1rem;

            @media only screen and (max-width:$breakpoint-tablet) {
                text-align: center;
                padding: 0 1rem;
                color: $white;
            }
        }

        .services-svg-badge-section {
            display: flex;
            width: 85%;
            align-items: flex-start;
            justify-content: space-between;

            @media only screen and (max-width:$breakpoint-tablet) {
                margin: auto;
                color: $white;
            }

            .row-image-section {
                text-align: center;

                figure {

                    img {

                        @media only screen and (max-width:$breakpoint-mobile) {
                            max-width: 4rem;
                            height: 4rem;
                        }
                    }

                    figcaption {
                        font-size: 0.8rem;
                        font-family: $roboto-font-family;
                        font-weight: $roboto-font-weight;
                    }
                }
            }
        }

        .submit-section {
            margin: 2rem 0;
            display: flex;

            @media only screen and (max-width:$breakpoint-tablet) {
                justify-content: center;
            }

            .btn-service {
                text-align: center;
                color: $green;
                border: 0.125rem solid $green;

                @media only screen and (max-width:$breakpoint-tablet) {
                    color: $white;
                }
            }

            .btn-apply {
                margin-right: 2rem;
            }

            .btn-top:hover {
                cursor: pointer;
            }
        }
    }

    .top-dog-image-section {
        width: $mid-width;
        overflow: hidden;

        @media only screen and (max-width:$breakpoint-tablet) {
            display: none;
        }
    }
}