.footer-section {
    padding: 1rem 0;
    background-color: $black;

    .footer-head {
        max-width: 70%;
        margin: auto;
        display: flex;
        align-items: center;

        @media only screen and (max-width: $breakpoint-tablet) {
            max-width: 95%;
        }

        @media only screen and (max-width: $breakpoint-mobile) {
            align-items: flex-start;
            padding: 0 1rem;
            max-width: $max-width;
        }

        .site-logo {
            display: flex;

            @media only screen and (max-width:$breakpoint-mobile) {
                display: block;
            }
        }

        .footer-sub-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: $max-width;

            @media only screen and (max-width: $breakpoint-mobile) {
                display: block;
                flex-direction: column;
            }

            .footer-links {

                @media only screen and (max-width:$breakpoint-mobile) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 0;
                    grid-row-gap: 0;
                    margin-bottom: 0.25rem;
                }

                .page-link {
                    color: $white;
                    padding: 0;
                    margin-left: 0.5rem;
                }

                .page-link:hover {
                    color: $orange;
                }
            }
        }

        .social-connect {
            display: flex;
            align-items: center;

            @media only screen and (max-width:$breakpoint-mobile) {
                width: $max-width;
            }

            a {
                padding: 0;
                margin: 0.25rem;
            }
        }
    }

    .footer-para {
        max-width: 70%;
        text-align: right;
        margin: 0.5rem auto 0;
        padding-top: 0.5rem;
        font-size: 0.75rem;
        line-height: 0.875rem;
        opacity: 0.7;
        color: $white;
        border-top: 0.063rem solid $white;

        @media only screen and (max-width:$breakpoint-tablet) {
            margin: 0.5rem 2.5% 0 auto;
            max-width: 90%;
        }

        @media only screen and (max-width:$breakpoint-mobile) {
            text-align: left;
            max-width: 80%;
        }
    }
}