.nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 2rem;

    @media only screen and (max-width:$breakpoint-tablet) {
        justify-content: space-between;
        position: fixed;
        width: $max-width;
        padding: 1rem;
    }

    .weblogo .full-logo {
        
        @media only screen and (max-width:$breakpoint-tablet) {
            display: none;
        }
    }

    .weblogo .short-logo {
        display: none;

        @media only screen and (max-width:$breakpoint-tablet) {
            display: flex;
        }
    }

    .header-list {
        list-style: none;

        @media only screen and (max-width:$breakpoint-tablet) {
            display: none;
        }

        li {
            a {
                margin: 1rem;
                color: $black;
                line-height: 1.063rem;
            }
        }
    }

    .burger-menu {
        display: none;

        @media only screen and (max-width:$breakpoint-tablet) {
            display: flex;
        }
    }
}