$global-margin: 0;
$global-padding: 0;
$global-box-sizing: border-box;
$global-anchor-decoration: none;
$img-pointer-event: none;
$img-touch-callout: none;

* {
    margin: $global-margin;
    padding: $global-padding;
    box-sizing: $global-box-sizing;
    font-style: $global-font-style;
}

body {
    background-color: $grey;
    color: $black;
}

a {
    text-decoration: $global-anchor-decoration;
    padding: 0.5rem 1rem;
    border-radius: 6.25em;
    outline: none;
    line-height: $base-line-height;
}

a {
    font-size: 0.875rem; // 14px
}

h1 {
    font-size: 2.75rem; // 44px

    @media only screen and (max-width:$breakpoint-mobile) {
        font-size: 1.875rem;
    }
}

h2 {
    font-size: 2.25rem; // 36px

    @media only screen and (max-width:$breakpoint-tablet) {
        font-size: 1.5rem;
    }
}

h3 {
    font-size: 1.5rem; // 24px

    @media only screen and (max-width:$breakpoint-tablet) {
        font-size: 1.125rem;
    }
}

h4 {
    font-size: 1.25rem; // 20px
    line-height: 1.5rem;
}

h5 {
    font-size: 1.125rem; // 18px
}

h6,
p,
b,
figcaption,
label {
    font-size: $base-font-size; // 16px
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
b,
label,
figcaption {
    font-family: $rubik-font-family;
    font-weight: $rubik-font-weight;
}

p {
    font-family: $roboto-font-family;
    font-weight: $roboto-font-weight;
}

h2,
h3,
p {

    @media only screen and (max-width:$breakpoint-tablet) {
        text-align: center;
    }
}


img {
    /*by writing this code user will not able to save images or cannot open image in new tab*/
    pointer-events: $img-pointer-event;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

input,
textarea {
    border: 0.063rem solid $black;
    border-radius: 0.3rem;
}

label {
    line-height: $label-line-height;
}

.input-field {
    width: $max-width;
    padding: 1rem;
    margin: 0.5rem 0 1.25rem;
    height: 3.125rem;
}

.textarea {
    height: 6.25rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* for all green button */
.green-btn {
    color: $white;
    outline: none;
    border: none;
    display: inline;
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 6.25em;
    line-height: 1.063rem;
    background-color: $green;
    font-family: $rubik-font-family;
}

.profile-post {
    font-family: $roboto-font-family;
    font-weight: $roboto-font-weight;
}

.nav,
.service-section,
.contact-section,
.map-section-left-side {
    background-color: $white;
}