/* map section start here */
.map-section-div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.75rem 1rem;

    @media only screen and (max-width:$breakpoint-tablet) {
        flex-direction: column;
        padding: 2rem;
    }

    .map-section-left-side {
        max-width: 30%;
        padding: 1.875rem;
        border-radius: 0.625rem 0 0 0.625rem;
        box-shadow: 0 0.43rem 4rem rgba(0, 0, 0, 0.07);

        @media only screen and (max-width:$breakpoint-tablet) {
            text-align: center;
            border-radius: 0.6rem 0.6rem 0 0;
            max-width: $max-width;
        }

        .map-heading {
            line-height: 2.6rem;
            margin-bottom: 1rem;
        }

        .map-para {
            line-height: 1.5rem;
            margin-bottom: 1rem;
        }

        .map-gallery {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: $max-width;

            .left-img,
            .right-img {
                max-width: 45%;
            }
        }
    }

    .map-section-right-side {
        max-width: 30%;

        @media only screen and (max-width:$breakpoint-tablet) {
            max-width: $max-width;
        }

        iframe {
            max-width: 100%;
            border-radius: 0.625rem;
        }
    }
}

/* map section end here */