/* package card -head start here*/
.package-card-head {

    .package-head-text {
        margin-top: 4.5rem;
        line-height: 2.6rem;
        text-align: center;

        @media only screen and (max-width: $breakpoint-tablet) {
            margin: 1.875rem 0 0.938rem;
        }
    }

    .package-para-text {
        font-size: 1.2rem;
        max-width: 45.625rem;
        margin: 1.25rem auto 2.5rem;
        line-height: 1.68rem;
        text-align: center;

        @media only screen and (max-width: $breakpoint-mobile) {
            margin: 0 1rem 1rem;
            max-width: $max-width;
        }
    }
}

/* package card -head end here*/

/* package card section start */
.package-card-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .hr-scroll {
        display: flex;

        @media only screen and (max-width:$breakpoint-mobile) {
            display: none;
        }
    }

    .package-1,
    .package-3 {
        max-width: 17.8rem;
        background-color: $white;
        box-shadow: 0 0.4rem 4rem rgba(0, 0, 0, 0.07);
        border-radius: 0.6rem;

        @media only screen and (max-width:$breakpoint-tablet) {
            display: none;
        }
    }

    .package {
        .package-head {
            .package-h3-text {
                padding-top: 1rem;
                line-height: 1.75rem;
                text-align: center;
            }

            .pet-content-card {
                margin: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: center;

                .weekly-pkg {
                    line-height: 1.5rem;
                    text-align: center;
                }

                img {
                    margin-right: 0.2rem;
                }
            }
        }


        .package-1-body,
        .package-3-body {
            background: $grey;
            height: 15rem;
        }

        .package-body {
            padding: 0 1rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;

            .service-text {
                line-height: 1.5rem;
                text-align: center;
                padding: 1rem 0 0.5rem;
            }

            .service-list {
                list-style: none;

                li {
                    display: block;
                    margin: 0.5rem;
                    font-family: $roboto-font-family;
                    font-weight: $roboto-font-weight;
                    font-size: 1rem;
                    line-height: 1.25rem;
                }

                li::before {
                    content: "• ";
                    color: $orange;
                }
            }
        }

        .package-foot {
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .price-tag {
                font-size: 1.5rem;
                line-height: 1.5rem;

                b {
                    line-height: 150.69%;
                    padding: 0.5rem;
                }
            }

            a {
                margin: 1rem 0;
                max-width: 80%;
            }
        }
    }

    .package-2 {
        max-width: 17.8rem;
        background-color: $lite-pink;
        border-radius: 0.6rem;
        padding: 0.1rem;
        margin: 0 1rem;

        .package-skin {
            .top-text {
                height: 2.5rem;
                font-size: 0.87rem;
                line-height: 1.063rem;
                letter-spacing: 0.063rem;
                text-align: center;
                padding-top: 1rem;
            }

            .package-2-head {
                height: 8.6rem;
                background-color: $white;
            }

            .package-2-body {
                height: 15rem;
                background: $grey;
            }

            .package-2-foot {
                height: 10.6rem;
                border-radius: 0 0 0.6rem 0.6rem;
                background-color: $white;
            }
        }
    }
}