/* service-section  */
.service-section {
    padding: 2rem 0;

    .service-head {
        margin: auto;
        text-align: center;

        .service-head-text {
            line-height: 2.6rem;
            letter-spacing: 0.063rem;
        }

        .service-para-text {
            max-width: 45.625rem;
            margin: 1.25rem auto 0;
            font-size: 1.2rem;
            line-height: 1.5rem;

            @media only screen and (max-width: $breakpoint-tablet) {
                max-width: 100%;
                margin: 0 1rem;
            }
        }
    }

    .service-nav {
        width: 36rem;
        margin: 1.875rem auto;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0.43rem 4rem rgba(0, 0, 0, 0.07);
        border-radius: 0.625rem;

        @media only screen and (max-width: $breakpoint-tablet) {
            max-width: 90%;
        }

        .span-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33%;
            padding: 1rem 1.75rem;
            border-radius: 0.625rem;

            .span-box-heading {
                font-size: 1rem;
                line-height: 1.18rem;
            }
        }

        .span-box:hover {
            cursor: pointer;
        }

        .span-1 {
            background-color: $orange;
        }
    }

    .pet-card-section::-webkit-scrollbar {
        display: none;
    }

    .pet-card-section {
        width: 36rem;
        margin: auto;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $breakpoint-mobile) {
            width: 90%;
            overflow-x: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .pet-card {
            width: 10rem;
            border-radius: 0.6rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.07);

            @media only screen and (max-width: $breakpoint-mobile) {
                margin: 0 0.5rem 0;
            }

            figure {
                img {
                    border-radius: 0.6rem;
                }

                figcaption {
                    line-height: 1.25rem;
                    margin: 0.5rem;
                    text-align: center;
                }
            }

            .time-left-alert,
            .price-tag {
                display: flex;
                margin: 0.5rem 0;
            }

            .time-left-alert img,
            .price-tag img {
                margin-right: 0.3rem;
            }

            .time-left-alert h3,
            .price-tag h3 {
                color: $dark-grey;
                font-size: 1rem;

                b {
                    color: $black;
                }
            }

            a {
                width: 80%;
                border: 0.125rem solid $green;
                background-color: $white;
                color: $green;
                text-align: center;
                margin: 0.5rem 0;
            }

            a:hover {
                background-color: $green;
                color: $white;
                cursor: pointer;
            }
        }
    }

    .service-foot {
        border-radius: 1.5rem;
        text-align: center;
        margin: 2.5rem auto 0.5rem;

        @media only screen and (max-width: $breakpoint-tablet) {
            display: none;
        }
    }
}