/* slide head section */
.slide-head-section {

    @media only screen and (max-width:$breakpoint-tablet) {
        display: none;
    }

    .slide-heading {
        line-height: 2.6rem;
        text-align: center;
        margin: 4.375rem 0 0;
    }
}

/* slide section start here */

.slide-section {
    padding: 1rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .scrollar-section .slide-btn:hover {
        cursor: pointer;
    }

    .sub-slide-section {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .slide-text-info {
        max-width: 15.6rem;
        margin: 1.5rem 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width:$breakpoint-tablet) {
            max-width: auto;
        }

        .sub-slide-heading {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            line-height: 1.3rem;
            text-align: center;
        }

        .sub-slide-para {
            line-height: 1.4rem;
            text-align: center;
        }
    }

    .slide-text-info-2 {

        @media only screen and (max-width:$breakpoint-tablet) {
            margin: 0;
        }
    }

    .slide-text-info-2,
    .slide-text-info-3 {

        @media only screen and (max-width:$breakpoint-tablet) {
            display: none;
        }
    }
}

/* slide section end here */