//font-family variables
$rubik-font-family: "Rubik",sans-serif;
$roboto-font-family: "Roboto",sans-serif;
$base-font-size: 1rem; //16px
$global-font-style: normal;
//font-weight variables
$rubik-font-weight: 500;
$roboto-font-weight: 400;

//width and height variables
$max-width: 100%;
$mid-width: 50%;
$max-height: 100%;

//line height variables
$base-line-height: 1.063rem;
$label-line-height: 1.185rem;

//Colors variables
$black: #1a2424;
$white: #ffffff;
$green: #025652;
$grey: #f9fafe;
$orange: #fdc282;
$dark-grey: #656867;
$pink: #ffc0cb;
$lite-pink: #ffe4e1;

// Breakpoint variables
$breakpoint-tablet: 768px; // for tablet
$breakpoint-mobile: 450px; // for mobile
$breakpoint-laptop: 1024px; // for laptop